@import url('https://fonts.googleapis.com/css?family=Bangers');
body{
  background-image: url(../img/background.jpg);
  font-family: 'Bangers', cursive;
}
.jumbotron {
  background: none;
}
.centered {
  text-align: center;
}

.marginTop {
  margin-top: 20px;
}

img {
  width: 250px;
  height: 260px;
}
#celebrity{
  height: 372px;
}

#hutchenson, #timberlake, #cyrus, #beiber, #adele, #grande, #stephanie, #timerlake, #levine, #message{
  display: none;
}
h1{
  color: yellow;
  -webkit-text-fill-color: #444;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 0 1px 0 #ccc,
             0 2px 0 #c9c9c9,
             0 3px 0 #bbb,
             0 4px 0 #b9b9b9,
             0 5px 0 #aaa;


}
